html, body {
    height: 100%;
    background-color: #05386B;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5cdb95;
    color: #05386B;
    font-size: larger;
    height: 150px;
}

.header-button {
    border: none;
    background-color: #05386B;
    color: #edf5e1;
    height: 150px;
    width: 150px;
    font-size: large;
}

footer {
    background-color: #05386B;
    margin-top: auto;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content:center ;
}