html, body {
    height: 100%;
    background-color: #05386B;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5cdb95;
    color: #05386B;
    font-size: larger;
    height: 75px;
    border: 2px solid #5cdb95;
}

.header-button {
    border: none;
    background-color: #05386B;
    color: #5cdb95;
    height: 150px;
    width: 150px;
    font-size: large;
    font-family: 'Tapestry', cursive;
}

.titlecard {
    font-family: 'Tapestry', cursive;
    font-size: 48px;
    padding-left: 25px;
}

.container {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
}

.controls {
    border: 1px solid #5cdb95;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.control-btn {
    height: 200px;
    width: 200px;
    background-color: #5cdb95;
    font-size: large;
    font-family: 'Tapestry', cursive;
}

#etch {
    display: flex;
    border: 1px solid #5cdb95;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    height: 850px;
    width: 850px;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #5cdb95;
    margin-top: auto;
    height: 95px;
    display: flex;
    align-items: center;
    justify-content:center;   
}

/* social media */
.github {
    background: none;
    border: none;
    padding-right: 10px;
}

.twitter {
    background: none;
    border: none;
    padding-left: 10px;
}


/* JS Grids */
.griddy {
    border: 1px solid black;
    background-color: #5cdb95;
}